NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=<usuario_postgresql>
DB_PASSWORD=<password_postgresql>
DB_DATABASE=app_citas

JWT_SECRET=<secreto_largo_de_al_menos_32_caracteres>

ADMIN_EMAIL=<email_admin>
ADMIN_PASSWORD=<password_admin>
ADMIN_ALIAS=admin

APP_TIMEZONE=Europe/Madrid
TYPEORM_SYNCHRONIZE=true

SEED_DEMO_DATA=false
SEED_RESET_DATA=false

CORS_ORIGINS=http://localhost:4200,http://127.0.0.1:4200
SWAGGER_ENABLED=true
