
        <!-- Sidenav Menu Start -->
        <div class="sidebar" id="sidebar" (mouseover)="miniSideBarMouseHover('over')" (mouseout)="miniSideBarMouseHover('out')"(focus)="miniSideBarMouseHover('over')"  (blur)="miniSideBarMouseHover('out')" tabindex="0">
            
            <!-- Start Logo -->
            <div class="sidebar-logo">
                <div>
                    <!-- Logo Normal -->
                    <a [routerLink]="routes.index" class="logo logo-normal">
                        <img src="assets/img/logo.svg" alt="Logo">
                    </a>

                    <!-- Logo Small -->
                    <a [routerLink]="routes.index" class="logo-small">
                        <img src="assets/img/logo-small.svg" alt="Logo">
                    </a>

                    <!-- Logo Dark -->
                    <a [routerLink]="routes.index" class="dark-logo">
                        <img src="assets/img/logo-white.svg" alt="Logo">
                    </a>
                </div>
                             <button
  *ngIf="base==='layout-hidden'  || dataLayoutHidden"
  class="sidenav-toggle-btn btn border-0 p-0 active"
  id="toggle_btn"
  (click)="settings.togglehidden()"
>
  <i class="ti ti-arrow-right"></i>
</button>

<!-- Show this when layout is not hidden -->
<button
  *ngIf="!(base === 'layout-hidden' || dataLayoutHidden)"
  class="sidenav-toggle-btn btn border-0 p-0 active"
  id="toggle_btn"
  (click)="toggleSidebarmini()"
>
  <i class="ti ti-arrow-left"></i>
</button>

                <!-- Sidebar Menu Close -->
                <button class="sidebar-close" (click)="toggleSidebar()">
                    <i class="ti ti-x align-middle"></i>
                </button>                
            </div>
            <!-- End Logo -->

            <!-- Sidenav Menu -->
            <div class="sidebar-inner" data-simplebar>       
              <ng-scrollbar>

                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                      <ng-container *ngFor="let mainMenu of sidebarData">
                        <li class="menu-title"><span>{{mainMenu.tittle}}</span></li>
                        <ng-container *ngFor="let menu of mainMenu.menu">
                            <li>
                                <ul>
                                    <ng-container *ngIf="menu.hasSubRoute=== false">
                                            <li [class.active]="page===menu.base">
                                                <a [routerLink]="menu.route" (click)="expandSubMenus(menu)">
                                                    <i class="ti" [class]="'ti-'+ menu.icon"></i><span>{{menu.menuValue}}</span>
                                                </a>
                                            </li>   
                                        </ng-container>
                                        <ng-container *ngIf="menu.hasSubRoute=== true">
                                            <li class="submenu">
                                                <a href="javascript:void(0);"(click)="expandSubMenus(menu)"  [class.active]="page===menu.base"  [ngClass]="{ subdrop: menu.showSubRoute === true }">
                                                    <i class="ti ti-calendar-check"></i><span>{{menu.menuValue}}</span>
                                                    <span class="menu-arrow"></span>
                                                </a>
                                                <ng-container *ngFor="let subMenu of menu.subMenus">
                                                <ul [ngClass]="
                                                    menu.showSubRoute === true
                                                    ? 'd-block'
                                                    : 'd-none'
                                                ">
                                                    <li><a [routerLink]="subMenu.route" [class.active]="page===subMenu.base" >{{subMenu.menuValue}}</a></li>
                                                </ul>
                                                </ng-container>
                                            </li>
                        </ng-container>                      
                                </ul>  
                            </li>
                        </ng-container>
                        </ng-container>
                        </ul>                 
                </div>
                <div class="sidebar-footer border-top mt-3" [ngClass]="{'d-none':sidebarfooter}">
                    <div class="trial-item mt-0 p-3 text-center">
                        <div class="trial-item-icon rounded-4 mb-3 p-2 text-center shadow-sm d-inline-flex">
                            <img src="./assets/img/icons/sidebar-icon.svg" alt="img">
                        </div>
                        <div>
                            <h6 class="fs-14 fw-semibold mb-1">Upgrade To Pro</h6>
                            <p class="fs-13 mb-0">Check 1 min video and begin use Preclinic like a pro</p>
                        </div>
                        <a href="javascript:void(0);" class="close-icon shadow-sm" (click)="footerClose()"><i class="ti ti-x"></i></a>
                    </div>
                </div>
              </ng-scrollbar>         
            </div>

        </div>
        <!-- Sidenav Menu End -->