            <!-- Start Content -->
            <div class="content">

                <!-- Start Page Header -->
                <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2 mb-3">
                    <div class="flex-grow-1">
                        <h4 class="fw-bold mb-0"> Doctor Grid <span class="badge badge-soft-primary fs-13 fw-medium ms-2">Total Doctors : 565</span></h4>
                    </div>
                    <div class="text-end d-flex">
                        <app-filter></app-filter>
                        <div class="bg-white border shadow-sm rounded px-1 pb-0 text-center d-flex align-items-center justify-content-center">
                            <a [routerLink]="routes.doctorList" class="bg-white rounded p-1 d-flex align-items-center justify-content-center"> <i class="ti ti-list fs-14 text-body"></i></a>
                            <a [routerLink]="routes.doctorGrid" class="bg-light rounded p-1 d-flex align-items-center justify-content-center"> <i class="ti ti-layout-grid fs-14 text-body"></i> </a>
                        </div>
                        <a [routerLink]="routes.addDoctor" class="btn btn-primary ms-2 fs-13 btn-md"><i class="ti ti-plus me-1"></i>New Doctor</a>
                    </div>
				</div>
				<!-- End Page Header -->

                <div class="row">

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-01.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Mick Thompson</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Cardiologist</span>
                                    <p class="mb-2 fs-13">Available : Mon, 20 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $499</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-02.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Sarah Johnson</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Orthopedic Surgeon</span>
                                    <p class="mb-2 fs-13">Available : Wed, 22 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $450</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-03.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Emily Carter</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Pediatrician</span>
                                    <p class="mb-2 fs-13">Available : Fri, 24 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $300</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-04.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. David Lee</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Gynecologist</span>
                                    <p class="mb-2 fs-13">Available : Tue, 21 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $250</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-05.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Anna Kim</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Psychiatrist</span>
                                    <p class="mb-2 fs-13">Available : Mon, 27 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $350</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-06.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. John Smith</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Neurosurgeon</span>
                                    <p class="mb-2 fs-13">Available : Thu, Jan 30, 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $499</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-07.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Lisa White</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Oncologist</span>
                                    <p class="mb-2 fs-13">Available : Sat, 25 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $200</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-08.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Patricia Brown</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Pulmonologist</span>
                                    <p class="mb-2 fs-13">Available : Sun, 01 Feb 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $450</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-09.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Rachel Green</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Urologist</span>
                                    <p class="mb-2 fs-13">Available : Tue, 28 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $400</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-10.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Michael Smith</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Cardiologist</span>
                                    <p class="mb-2 fs-13">Available : Thu, 05 Feb 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $300</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-11.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Sarah Johnson</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Surgeon</span>
                                    <p class="mb-2 fs-13">Available : Mon, 09 Feb 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $500</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-12.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Adrian White</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Practitioner</span>
                                    <p class="mb-2 fs-13">Available : Sat, 25 Jan 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $200</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-13.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Ken Clark</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Dermatologist</span>
                                    <p class="mb-2 fs-13">Available : Wed, 12 Feb 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $350</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-14.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Oliver King</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Orthopedist</span>
                                    <p class="mb-2 fs-13">Available : Fri, 14 Feb 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $600</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                    <div class="col-xl-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex align-items-center flex-sm-nowrap flex-wrap row-gap-3">
                                <div class="me-3 doctor-profile-img"><a [routerLink]="routes.doctorDetails"><img src="assets/img/doctors/doctor-15.jpg" class="rounded" alt=""></a></div>
                                <div class="flex-fill">
                                    <div class="d-flex align-items-center justify-content-between mb-1">
                                        <h6 class="mb-0 fw-semibold"><a [routerLink]="routes.doctorDetails">Dr. Avan Davis</a></h6>
                                        <div class="action-item">
                                            <a href="javascript:void(0);" data-bs-toggle="dropdown">
                                                <i class="ti ti-dots-vertical"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a [routerLink]="routes.editDoctor" class="dropdown-item d-flex align-items-center">Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#delete_modal">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <span class="d-block mb-2 fs-13">Endocrinologist</span>
                                    <p class="mb-2 fs-13">Available : Tue, 17 Feb 2025</p>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="text-primary fs-14 mb-0"><span class="text-muted fs-13 fw-normal">Starts From : </span> $375</h6>
                                        <a [routerLink]="routes.appointmentCalendar" class="avatar avatar-xs border text-muted fs-14"><i class="ti ti-calendar-cog"></i></a>
                                    </div>
                                </div>
                            </div><!-- end card body -->
                        </div><!-- end card -->
                    </div><!-- end col -->

                </div>

                <div class="text-center">
                    <a href="javascript:void(0);" class="btn btn-white bg-white text-dark fs-13">Load More<span class="spinner-border spinner-border-sm ms-1"></span></a>
                </div>
                                
            </div>
            <!-- End Content -->

