            <!-- Start Content -->
            <div class="content">

                <!-- Page Header -->
                <div class="pb-3 mb-3 border-bottom">
                    <h4 class="fw-bold mb-0">Gallery</h4>
                </div>
                <!-- End Page Header -->

                <div class="card">
                    <div class="card-body">

                        <!-- start row -->
                        <div class="row row-gap-3 mb-3">
                            <lightgallery class="row row-cols-2 row-cols-sm-4 row-cols-md-5 w-100" [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-01.jpg" data-src="assets/img/gallery/gallery-01.jpg">
                                <a href="assets/img/gallery/gallery-img-01.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-01.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-02.jpg" data-src="assets/img/gallery/gallery-02.jpg">
                                <a href="assets/img/gallery/gallery-img-02.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-02.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-03.jpg" data-src="assets/img/gallery/gallery-03.jpg">
                                <a href="assets/img/gallery/gallery-img-03.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-03.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-04.jpg" data-src="assets/img/gallery/gallery-04.jpg">
                                <a href="assets/img/gallery/gallery-img-04.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-04.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-05.jpg" data-src="assets/img/gallery/gallery-05.jpg">
                                <a href="assets/img/gallery/gallery-img-05.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-05.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            </lightgallery>
                        </div>
                        <!-- end row -->

                        <!-- start row -->
                         <div class="row row-gap-3 mb-3">
                            <lightgallery class="row row-cols-2 row-cols-sm-4 row-cols-md-5 w-100" [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-06.jpg" data-src="assets/img/gallery/gallery-06.jpg">
                                <a href="assets/img/gallery/gallery-img-06.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-06.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-07.jpg" data-src="assets/img/gallery/gallery-07.jpg">
                                <a href="assets/img/gallery/gallery-img-07.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-07.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-08.jpg" data-src="assets/img/gallery/gallery-08.jpg">
                                <a href="assets/img/gallery/gallery-img-08.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-08.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-09.jpg" data-src="assets/img/gallery/gallery-09.jpg">
                                <a href="assets/img/gallery/gallery-img-09.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-09.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-10.jpg" data-src="assets/img/gallery/gallery-10.jpg">
                                <a href="assets/img/gallery/gallery-img-10.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-10.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            </lightgallery>
                        </div>
                        <!-- end row -->

                        <!-- start row -->
                        <div class="row row-gap-3">
                            <lightgallery class="row row-cols-2 row-cols-sm-4 row-cols-md-5 w-100" [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-11.jpg" data-src="assets/img/gallery/gallery-11.jpg">
                                <a href="assets/img/gallery/gallery-img-11.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-11.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-12.jpg" data-src="assets/img/gallery/gallery-12.jpg">
                                <a href="assets/img/gallery/gallery-img-12.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-12.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-13.jpg" data-src="assets/img/gallery/gallery-13.jpg">
                                <a href="assets/img/gallery/gallery-img-13.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-13.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-14.jpg" data-src="assets/img/gallery/gallery-14.jpg">
                                <a href="assets/img/gallery/gallery-img-14.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-14.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            <div class="col-md-6 col-xl" data-responsive="assets/img/gallery/gallery-img-15.jpg" data-src="assets/img/gallery/gallery-15.jpg">
                                <a href="assets/img/gallery/gallery-img-15.jpg" class="image-popup">
                                    <img src="assets/img/gallery/gallery-15.jpg" alt="img" class="img-fluid">
                                </a>
                            </div><!-- end col -->
                            </lightgallery>
                        </div>
                        <!-- end row -->
                        

                    </div><!-- end card body -->
                </div><!-- end card -->
                
                                
            </div>
            <!-- End Content -->