            <!-- Start Content -->
            <div class="content">

                <!-- row start -->
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <!-- page header start -->
                        <div class="mb-4">
                            <h6 class="fw-bold mb-0 d-flex align-items-center"> <a [routerLink]="routes.appointmentList" class="text-dark"> <i class="ti ti-chevron-left me-1"></i>Appointments</a></h6>
                        </div>
                        <!-- page header end -->

                        <!-- card start -->
                        <div class="card">
                            <div class="card-body">
                                <div class="form">
                                    <div class="mb-3">
                                        <label class="form-label mb-1 fw-medium">Appointment ID<span class="text-danger ms-1">*</span></label>
                                        <input type="text" class="form-control" value="AP234354" disabled>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <div class="d-flex align-items-center justify-content-between mb-1">
                                                    <label class="form-label mb-0 fw-medium">Patient<span class="text-danger ms-1">*</span></label>
                                                    <a href="javascript:void(0);" class="link-primary" data-bs-toggle="modal" data-bs-target="#add_modal"><i class="ti ti-circle-plus me-1"></i>Add New</a>
                                                </div>
                                                <mat-select class="custom-mat-select select" placeholder="Select">
                                                    <mat-option value="1">Select</mat-option>
                                                    <mat-option value="1">Alberto Ripley</mat-option>
                                                    <mat-option value="1">Susan Babin</mat-option>
                                                    <mat-option value="1">Martin Lisa</mat-option>
                                                    <mat-option value="1">Stella Mary</mat-option>
                                                    <mat-option value="1">Carol Lam</mat-option>
                                                    <mat-option value="1">Jesus Adams</mat-option>
                                                    <mat-option value="1">Ezra Belcher</mat-option>
                                                    <mat-option value="1">Unit Manager</mat-option>
                                                    <mat-option value="1">Bernard Griffith</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label mb-1 fw-medium">Department<span class="text-danger ms-1">*</span></label>
                                                <mat-select class="custom-mat-select select" placeholder="Select">
                                                    <mat-option value="1">Select</mat-option>
                                                    <mat-option value="1">General Medicine</mat-option>
                                                    <mat-option value="1">Pediatrics</mat-option>
                                                    <mat-option value="1">Gynecology</mat-option>
                                                    <mat-option value="1">Cardiology</mat-option>
                                                    <mat-option value="1">Orthopedics</mat-option>
                                                    <mat-option value="1">Dermatology</mat-option>
                                                    <mat-option value="1">ENT</mat-option>
                                                    <mat-option value="1">Neurology</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label mb-1 fw-medium">Doctor<span class="text-danger ms-1">*</span></label>
                                                <mat-select class="custom-mat-select select" placeholder="Select">
                                                    <mat-option value="1">Select</mat-option>
                                                    <mat-option value="1">Dr. Mick Thompson</mat-option>
                                                    <mat-option value="1">Dr. Sarah Johnson</mat-option>
                                                    <mat-option value="1">Dr. Emily Carter</mat-option>
                                                    <mat-option value="1">Dr. David Lee</mat-option>
                                                    <mat-option value="1">Dr. Anna Kim</mat-option>
                                                    <mat-option value="1">Dr. John Smith</mat-option>
                                                    <mat-option value="1">Dr. Lisa White</mat-option>
                                                    <mat-option value="1">Dr. Patrica Brown</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label mb-1 fw-medium">Appointment Type<span class="text-danger ms-1">*</span></label>
                                                <mat-select class="custom-mat-select select" placeholder="Select">
                                                    <mat-option value="1">Select</mat-option>
                                                    <mat-option value="1">In Person</mat-option>
                                                    <mat-option value="1">Online</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label mb-1 fw-medium">Date of Appointment<span class="text-danger ms-1">*</span></label>
                                                <div class="input-icon-end position-relative">  
                                                    <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd/mm/yyyy" value="dd/mm/yyyy">
                                                    <span class="input-icon-addon">
                                                        <i class="ti ti-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label class="form-label mb-1 fw-medium">Time<span class="text-danger ms-1">*</span></label>
                                                <div class="input-icon-end position-relative">
                                                    <p-datepicker
                                                        inputId="calendar-timeonly"
                                                        inputStyleClass="form-control timepicker w-100"
                                                        [(ngModel)]="addtime2"
                                                        [timeOnly]="true"
                                                        [ngModelOptions]="{ standalone: true }"
                                                        [hourFormat]="'12'"/>
                                                    <span class="input-icon-addon">
                                                        <i class="ti ti-clock text-gray-7"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label mb-1 fw-medium">Appointment Reason<span class="text-danger ms-1">*</span></label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="mb-0">
                                        <label class="form-label mb-1 fw-medium">Status<span class="text-danger ms-1">*</span></label>
                                        <mat-select class="custom-mat-select select" placeholder="Select">
                                            <mat-option value="1">Select</mat-option>
                                            <mat-option value="1">Checked Out</mat-option>
                                            <mat-option value="1">Checked In</mat-option>
                                            <mat-option value="1">Cancelled</mat-option>
                                            <mat-option value="1">Schedule</mat-option>
                                            <mat-option value="1">Confirmed</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- card end -->

                        <div class="d-flex align-items-center justify-content-end">
                            <a href="javascript:void(0);" class="btn btn-light me-2">Cancel</a>
                            <a href="javascript:void(0);" class="btn btn-primary">Create Appointment</a>
                        </div>

                    </div>
                </div>
                <!-- row end -->               
                
            </div>
            <!-- End Content -->