<!-- Start Content -->
<div class="content pb-0">
  <div class="row">
    <div class="col-xl-4 col-lg-6 d-flex">
      <div class="card shadow-sm flex-fill w-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="fw-bold mb-0 text-truncate">{{ 'dashboard.appointments' | translate }}</h5>
          <a [routerLink]="routes.appointment" [queryParams]="appointmentCalendarQuery" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center">
            {{ 'common.viewAll' | translate }}
          </a>
        </div>
        <div class="card-body">
          <div class="datepic mb-3 p-inlines">
            <p-datepicker
              class="max-w-full"
              [(ngModel)]="date"
              (onSelect)="openAppointmentsCalendar($event)"
              [inline]="true"
              [showWeek]="false"
              [ngModelOptions]="{standalone: true}">
            </p-datepicker>
          </div>
          <a [routerLink]="routes.appointment" [queryParams]="appointmentCalendarQuery" class="btn btn-light w-100">{{ 'common.viewAllAppointments' | translate }}</a>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 d-flex">
      <div class="card shadow-sm flex-fill w-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="fw-bold mb-0">{{ 'dashboard.doctorsSchedule' | translate }}</h5>
          <a [routerLink]="routes.doctorSchedule" class="btn fw-normal btn-outline-white">{{ 'common.viewAll' | translate }}</a>
        </div>
        <div class="card-body">
          <div class="row g-2 mb-4">
            <div class="col d-flex border-end">
              <div class="text-center flex-fill">
                <p class="mb-1">{{ 'dashboard.available' | translate }}</p>
                <h3 class="fw-bold mb-0">48</h3>
              </div>
            </div>
            <div class="col d-flex border-end">
              <div class="text-center flex-fill">
                <p class="mb-1">{{ 'dashboard.unavailable' | translate }}</p>
                <h3 class="fw-bold mb-0">28</h3>
              </div>
            </div>
            <div class="col d-flex">
              <div class="text-center flex-fill">
                <p class="mb-1">{{ 'dashboard.leave' | translate }}</p>
                <h3 class="fw-bold mb-0">12</h3>
              </div>
            </div>
          </div>
          <div class="overflow-auto">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="d-flex align-items-center flex-shrink-0">
                <a [routerLink]="routes.doctorDetails" class="avatar flex-shrink-0">
                  <img src="assets/img/doctors/doctor-02.jpg" class="rounded-circle" alt="img">
                </a>
                <div class="ms-2 flex-shrink-0">
                  <h6 class="fw-semibold fs-14 text-truncate mb-1">
                    <a [routerLink]="routes.doctorDetails">Dr. Sarah Johnson</a>
                  </h6>
                  <p class="fs-13">{{ 'dashboard.orthopedicSurgeon' | translate }}</p>
                </div>
              </div>
              <div class="flex-shrink-0 ms-2">
                <a href="javascript:void(0);" class="btn btn-primary btn-sm py-1 flex-shrink-0">{{ 'dashboard.bookNow' | translate }}</a>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
              <div class="d-flex align-items-center flex-shrink-0">
                <a [routerLink]="routes.doctorDetails" class="avatar flex-shrink-0">
                  <img src="assets/img/doctors/doctor-03.jpg" class="rounded-circle" alt="img">
                </a>
                <div class="ms-2 flex-shrink-0">
                  <h6 class="fw-semibold fs-14 text-truncate mb-1">
                    <a [routerLink]="routes.doctorDetails">Dr. Emily Carter</a>
                  </h6>
                  <p class="fs-13">{{ 'dashboard.pediatrician' | translate }}</p>
                </div>
              </div>
              <div class="flex-shrink-0 ms-2">
                <a href="javascript:void(0);" class="btn btn-primary btn-sm py-1">{{ 'dashboard.bookNow' | translate }}</a>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-0">
              <div class="d-flex align-items-center flex-shrink-0">
                <a [routerLink]="routes.doctorDetails" class="avatar flex-shrink-0">
                  <img src="assets/img/doctors/doctor-04.jpg" class="rounded-circle" alt="img">
                </a>
                <div class="ms-2 flex-shrink-0">
                  <h6 class="fw-semibold fs-14 text-truncate mb-1">
                    <a [routerLink]="routes.doctorDetails">Dr. David Lee</a>
                  </h6>
                  <p class="fs-13">{{ 'dashboard.gynecologist' | translate }}</p>
                </div>
              </div>
              <div class="flex-shrink-0 ms-2">
                <a href="javascript:void(0);" class="btn btn-primary btn-sm py-1">{{ 'dashboard.bookNow' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-4 col-lg-6 d-flex">
      <div class="card shadow-sm flex-fill w-100">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h5 class="fw-bold mb-0">{{ 'dashboard.leaveRequests' | translate }}</h5>
          <div class="dropdown">
            <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
              {{ 'dashboard.period.today' | translate }} <i class="ti ti-chevron-down ms-1"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:void(0);">{{ 'dashboard.period.today' | translate }}</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">{{ 'dashboard.period.thisWeek' | translate }}</a></li>
              <li><a class="dropdown-item" href="javascript:void(0);">{{ 'dashboard.period.thisMonth' | translate }}</a></li>
            </ul>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <div class="d-flex align-items-center">
              <a [routerLink]="routes.doctorDetails" class="avatar flex-shrink-0">
                <img src="assets/img/profiles/avatar-16.jpg" class="rounded-circle" alt="img">
              </a>
              <div class="ms-2">
                <h6 class="fw-semibold text-truncate mb-1 fs-14">
                  <a [routerLink]="routes.doctorDetails">James Allaire</a>
                </h6>
                <p class="fs-13 mb-0 text-truncate">{{ 'dashboard.reason.personal' | translate }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0);" class="d-inline-flex bg-soft-danger text-danger p-2 rounded-circle">
                <i class="ti ti-x fw-bold"></i>
              </a>
              <a href="javascript:void(0);" class="d-inline-flex ms-2 text-success p-2 bg-soft-success rounded-circle">
                <i class="ti ti-check fw-bold"></i>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-3">
            <div class="d-flex align-items-center">
              <a [routerLink]="routes.doctorDetails" class="avatar flex-shrink-0">
                <img src="assets/img/profiles/avatar-21.jpg" class="rounded-circle" alt="img">
              </a>
              <div class="ms-2">
                <h6 class="fw-semibold text-truncate mb-1 fs-14">
                  <a [routerLink]="routes.doctorDetails">Esther Schmidt</a>
                </h6>
                <p class="fs-13 mb-0 text-truncate">{{ 'dashboard.reason.hospital' | translate }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0);" class="d-inline-flex bg-soft-danger text-danger p-2 rounded-circle">
                <i class="ti ti-x fw-bold"></i>
              </a>
              <a href="javascript:void(0);" class="d-inline-flex ms-2 text-success p-2 bg-soft-success rounded-circle">
                <i class="ti ti-check fw-bold"></i>
              </a>
            </div>
          </div>
          <div class="d-flex justify-content-between mb-0">
            <div class="d-flex align-items-center">
              <a [routerLink]="routes.doctorDetails" class="avatar flex-shrink-0">
                <img src="assets/img/doctors/doctor-03.jpg" class="rounded-circle" alt="img">
              </a>
              <div class="ms-2">
                <h6 class="fw-semibold text-truncate mb-1 fs-14">
                  <a [routerLink]="routes.doctorDetails">Valerie Padgett</a>
                </h6>
                <p class="fs-13 mb-0 text-truncate">{{ 'dashboard.reason.accountChange' | translate }}</p>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0);" class="d-inline-flex bg-soft-danger text-danger p-2 rounded-circle">
                <i class="ti ti-x fw-bold"></i>
              </a>
              <a href="javascript:void(0);" class="d-inline-flex ms-2 text-success p-2 bg-soft-success rounded-circle">
                <i class="ti ti-check fw-bold"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Content -->
